{% extends 'website/core_empty.html' %}

{% block sub_title %}
    Success
{% endblock %}

{% block content %}
    <div class="text-center">
        <h2>Thank you for Purchasing</h2>
        <p>
            Your purchase is successful, We are working on it, please wait for 24 hours<br>
            within 24 hours we will contact you, for more information please contact the mail below<br>
            <a href="mailto:"><b>support@rsonlineaccounting.com</b></a>
        </p>
    </div>
{% endblock %}